body {
    font-family: $font-main;
    background-color: $bg-color;
}

.contenedor {
    width: 75%;
    margin: 2rem auto
}

.parrafo-react,
.parrafo-especial {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.cabecera {
    margin-bottom: 1rem;
    color: $main-color;
    span {
        display: block;
        color: black;
        font-size: 1rem;
    }
}

#root {
    margin-bottom: 2rem;
}

.contenedor-imagen {
    border-radius: 10px;
    height: 50vh;
    margin-bottom: 2rem;
    background: url('./img/fondo.png') center center no-repeat;
}

.imagen {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    img {
        max-width: 100%;
    }
}

.css-optimizar {
    background-color: $dark-color;
    color: $remark-color;
    text-align: center;
    padding: 1rem 0;
    border-radius: 5px;
}