doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="description" content=descripcion)
        title About
        link(rel="stylesheet" href="app.css")
    body
      .contenedor
        include includes/header
        p.parrafo-especial Este un párrafo generado desde un archivo .pug
        .imagen
            img(src='./img/webpack.svg')
        p.css-optimizar Funciona la optimización del CSS para producción