<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <div class="contenedor">
          <div id="root"></div>
          <div class="contenedor-imagen"></div>
          <div class="imagen">
              <img alt="Logo Webpack" src=<%= require("./img/webpack.svg") %>>
          </div>
      </div>
</body>
</html>